<%- include("partials/header"); %>

<style>
    .date__box {
        position: absolute;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        color: #ccc;
        border: 4px solid;
        font-weight: bold;
        padding: 5px 10px;
    }

    .date__box .date__day {
        font-size: 22px;
    }

    .blog-card {
        padding: 30px;
        position: relative;
    }

    .blog-card .date__box {
        opacity: 0;
        -webkit-transform: scale(0.5);
        transform: scale(0.5);
        -webkit-transition: 300ms ease-in-out;
        transition: 300ms ease-in-out;
    }

    .blog-card .blog-card__background,
    .blog-card .card__background--layer {
        z-index: -1;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }

    .blog-card .blog-card__background {
        padding: 15px;
        background: white;
    }

    .blog-card .card__background--wrapper {
        height: 100%;
        -webkit-clip-path: polygon(0 0, 100% 0, 100% 80%, 0 60%);
        clip-path: polygon(0 0, 100% 0, 100% 80%, 0 60%);
        position: relative;
        overflow: hidden;
    }

    .blog-card .card__background--main {
        height: 100%;
        position: relative;
        -webkit-transition: 300ms ease-in-out;
        transition: 300ms ease-in-out;
        background-repeat: no-repeat;
        background-size: cover;
    }

    .blog-card .card__background--layer {
        z-index: 0;
        opacity: 0;
        background: rgba(51, 51, 51, 0.9);
        -webkit-transition: 300ms ease-in-out;
        transition: 300ms ease-in-out;
    }

    .blog-card .blog-card__head {
        height: 300px;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
    }

    .blog-card .blog-card__info {
        z-index: 10;
        background: white;
        padding: 20px 15px;
    }

    .blog-card .blog-card__info h5 {
        -webkit-transition: 300ms ease-in-out;
        transition: 300ms ease-in-out;
    }

    .blog-card:hover .date__box {
        opacity: 1;
        -webkit-transform: scale(1);
        transform: scale(1);
    }

    .blog-card:hover .card__background--main {
        -webkit-transform: scale(1.2) rotate(5deg);
        transform: scale(1.2) rotate(5deg);
    }

    .blog-card:hover .card__background--layer {
        opacity: 1;
    }

    .blog-card:hover .blog-card__info h5 {
        color: #f35730;
    }

    a.icon-link {
        color: #363738;
        -webkit-transition: 200ms ease-in-out;
        transition: 200ms ease-in-out;
    }

    a.icon-link i {
        color: #f35730;
    }

    a.icon-link:hover {
        color: #f35730;
        text-decoration: none;
    }

    .btn {
        background: white;
        color: #363738;
        font-weight: bold;
        outline: none;
        -webkit-box-shadow: 1px 1px 3px 0 rgba(0, 0, 0, 0.2);
        box-shadow: 1px 1px 3px 0 rgba(0, 0, 0, 0.2);
        overflow: hidden;
        border-radius: 0;
        height: 50px;
        line-height: 50px;
        display: inline-block;
        padding: 0;
        border: none;
    }

    .btn:focus {
        -webkit-box-shadow: none;
        box-shadow: none;
    }

    .btn:hover {
        background: #f35730;
        color: #fff;
    }

    .btn.btn--with-icon {
        padding-right: 20px;
    }

    .btn.btn--with-icon i {
        padding: 0px 30px 0px 15px;
        margin-right: 10px;
        height: 50px;
        line-height: 50px;
        vertical-align: bottom;
        color: white;
        background: #f35730;
        -webkit-clip-path: polygon(0 0, 70% 0, 100% 100%, 0% 100%);
        clip-path: polygon(0 0, 70% 0, 100% 100%, 0% 100%);
    }

    .btn.btn--only-icon {
        width: 50px;
    }


    .title {
        margin-top: 7rem;
        font-family: "Montserrat";
        text-align: center;
        color: #FFF;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        letter-spacing: 1px;
    }

    h1.title-h1 {
        background-image: url('/images/fire-2.gif');
        background-size: cover;
        color: transparent;
        -moz-background-clip: text;
        -webkit-background-clip: text;
        text-transform: uppercase;
        font-size: 3rem;
    }
</style>
<%
var arr =[
    {
        name:"Reliance Trends",
        oneliner:"The best and reasonable collection of clothes in town",
        specs:{
            landmark:"Subway / Bata"
        },
        description:"Reliance Trends offers stylish, high-quality products across Womenswear, Lingerie, Menswear, Kidswear and fashion accessories through a diversified portfolio of own brands, national and international brands.",
        location:"https://www.google.com/maps/place/Reliance+Trends/@12.9567381,79.1369415,15z/data=!4m5!3m4!1s0x0:0x629f1c666aea812d!8m2!3d12.9567381!4d79.1369415",
        website:"https://www.trends.ajio.com/",
        image:"reliancetrends.jpg"
    },
    {
        name:"Reliance Digital",
        oneliner:"The best and reasonable collection of clothes in town",
        specs:{
            landmark:"Darling BBQ / Katpadi Bus station"
        },
        description:"Reliance Digital offers over 200 national and international brands offering a widest assortment of products spanning across Audio & Video products, Digital Cameras, Durables like Air Conditioners, Refrigerators, Washing Machines, Microwave Ovens, Water Purifiers, Kitchen and Home Appliances, Gaming Consoles & Games, Computers, Laptops, Tablets & Peripherals, Mobile and Fixed line instruments as well as a wide range of accessories and new-age gadgets across all major product categories.",
        location:"https://www.google.com/maps/dir/Vellore+Institute+of+Technology,+Tiruvalam+Road,+Katpadi,+Vellore,+Tamil+Nadu,+India/reliance+digital+near+VIT+vellore/@12.9690824,79.1399876,15z/data=!3m1!4b1!4m13!4m12!1m5!1m1!1s0x3bad479f0ccbe067:0xfef222e5f36ecdeb!2m2!1d79.1594165!2d12.971743!1m5!1m1!1s0x3bad4769c9ef97d5:0x4bd828da9402fa21!2m2!1d79.1381987!2d12.9663803",
        website:"https://www.reliancedigital.in/",
        image:"reliancedigital.jpg"
    },
    {
        name:"Max Retail",
        oneliner:"The best and reasonable collection of clothes in town",
        specs:{
            landmark:"BBQ nation / Darling Bakery"
        },
        description:"Max brings international fashion and value to discerning shoppers in over 325 stores across 16 countries.",
        location:"https://www.google.com/maps/place/Max+Retail+Showroom/@12.9104854,79.1318407,15z/data=!4m5!3m4!1s0x0:0x36fbc9da337be125!8m2!3d12.9104854!4d79.1318407",
        website:"https://www.maxfashion.in/in/en/",
        image:"maxretail.jpg"
    },
    {
        name:"Pantaloons",
        oneliner:"The best and reasonable collection of clothes in town",
        specs:{
            landmark:"Venus cinemas / reliance smart"
        },
        description:"Pantaloons Fashion & Retail Limited is an Indian clothing retail chain.Pantaloons retails approximately 200 brands[7] which comprises a mixof private labels and licensed brands in apparel and accessories.",
        location:"https://www.google.com/maps/dir/Vellore+Institute+of+Technology,+VIT,+Vellore+Campus,+Tiruvalam+Rd,+Katpadi,+Vellore,+Tamil+Nadu+632014,+India/pantaloons+vellore/@12.9372112,79.1102845,13z/data=!3m1!4b1!4m13!4m12!1m5!1m1!1s0x3bad479f0ccbe067:0xfef222e5f36ecdeb!2m2!1d79.1594165!2d12.971743!1m5!1m1!1s0x3bad38dfcf7d819d:0xb0d53a60bf0ad94d!2m2!1d79.1314936!2d12.9025274",
        website:"https://www.pantaloons.com/",
        image:"pantaloons.jpg"
    },
    {
        name:"Globus",
        oneliner:"The best and reasonable collection of clothes in town",
        specs:{
            landmark:"Hundreds Heritage"
        },
        description:"Globus is a lifestyle fashion brand that makes fashion creative and distinct, for the contemporary Indian. Globus is a thoughtful brand and we always maintain a balance in the creativity of our products. Be it trendy t-shirts, dresses, ethnic-wear or accessories, Globus has an amazing catalog of products to choose from and there is no limit of options when it comes to the outfits you may purchase for either daily wear or festive occasions.",
        location:"https://www.google.com/maps/place/Globus/@12.9502091,79.1378246,15z/data=!4m5!3m4!1s0x0:0xf52b4f93fdc6270d!8m2!3d12.9502091!4d79.1378246",
        website:"https://www.globusfashion.com/",
        image:"globus.jpg"
    },
    {
        name:"Unlimited",
        oneliner:"The best and reasonable collection of clothes in town",
        specs:{
            landmark:"Domino’s Pizza / Reliance Trends"
        },
        description:"Unlimited’s official store is home to an array of styles for men, women and kids and everyone else in the family. Choose from an infinite range of styles at the best value, across men’s formal and casual, women’s ethnic and western, cute kids wear and trendy youth wear across a range of labels that are exclusively available at UNLIMITED stores",
        location:"https://www.google.com/maps/dir/Vellore+Institute+of+Technology,+VIT,+Vellore+Campus,+Tiruvalam+Rd,+Katpadi,+Vellore,+Tamil+Nadu+632014,+India/Unlimited,+Vellore+-+Chittoor+Rd,+Suthanthira+Ponvizha+Nagar,+Venkatraman+Nagar,+Viruthampattu,+Vellore,+Tamil+Nadu+632006,+India/@12.9609973,79.1394462,15z/data=!3m1!4b1!4m13!4m12!1m5!1m1!1s0x3bad479f0ccbe067:0xfef222e5f36ecdeb!2m2!1d79.1594165!2d12.971743!1m5!1m1!1s0x3bad476612f787d3:0x9f1c09f0b748e69!2m2!1d79.1369854!2d12.956033",
        website:"https://unlimited.nnnow.com/",
        image:"unlimited.jpg"
    },
    {
        name:"Peter England",
        oneliner:"The best and reasonable collection of clothes in town",
        specs:{
            landmark:"Christian Medical College"
        },
        description:"Peter England has made a mark as the largest menswear brand in India. Known for its standardized fits, superior quality, wide range and fashionable styles, the trusted mid-segment brand comes with apparel offerings for young men entering the corporate world.",
        location:"https://www.google.com/maps/dir/Vellore+Institute+of+Technology,+VIT,+Vellore+Campus,+Tiruvalam+Rd,+Katpadi,+Vellore,+Tamil+Nadu+632014,+India/6,+Peter+England,+1,+Officer's+Line,+Vasanthapuram,+Sankaranpalayam,+Vellore,+Tamil+Nadu+632001,+India/@12.9611978,79.122677,12.7z/data=!4m13!4m12!1m5!1m1!1s0x3bad479f0ccbe067:0xfef222e5f36ecdeb!2m2!1d79.1594165!2d12.971743!1m5!1m1!1s0x3bad38c2a90d0b7f:0x92877890699e7c22!2m2!1d79.1319428!2d12.9122691",
        website:"https://www.peterengland.com/",
        image:"peterengland.jpg"
    },
    {
        name:"The Raymond Shop",
        oneliner:"The best and reasonable collection of clothes in town",
        specs:{
            landmark:"New Bus Stand"
        },
        description:"The Raymond Shop in Vellore showcases a commodious and well-maintained showroom. It is managed by a trained and professional staff having ample knowledge about men's garments. The shop boasts of an impressive collection of business wear for working ladies that reveal finest of designs, colour range and stitches. The shop is visited by an ample number of customers everyday out of which many are local residents and many belong to the surrounding localities. The company puts a great degree of emphasis on the quality and hence every piece of cloth is stitched from premium quality threads. The establishment functions from 09:30 - 21:30. Payments are accepted from the customers in Cash, Master Card, Visa Card, Debit Cards, Cheques, American Express Card, Credit Card, whichever they find convenient for themselves.",
        location:"https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d15555.646677757992!2d79.12396326511825!3d12.913398500000016!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3bad38e9ff91f3a1%3A0x8bb6665f33ad44d4!2sThe%20Raymond%20Shop!5e0!3m2!1sen!2sin!4v1599906976210!5m2!1sen!2sin",
        website:"https://www.raymond.in/",
        image:"raymond.jpeg"
    },
    {
        name:"Levis",
        oneliner:"The best and reasonable collection of clothes in town",
        specs:{
            landmark:"Vellore Bazar"
        },
        description:"Levi's Store in Vellore Bazaar has a wide range of products and / or services to cater to the varied requirements of their customers. The staff at this establishment are courteous and prompt at providing any assistance. They readily answer any queries or questions that you may have. Pay for the product or service with ease by using any of the available modes of payment, such as Cash, Master Card, Visa Card, Debit Cards, American Express Card, Credit Card. This establishment is functional from 10:00 - 22:00.",
        location:"https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3889.1162492701637!2d79.1312109!3d12.9002458!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3bad39200a41672d%3A0xfa04f4dee06e781b!2sLevi&#39;s%20Exclusive%20Store!5e0!3m2!1sen!2sin!4v1599907543983!5m2!1sen!2sin",
        website:"https://www.levi.in/",
        image:"levis.jpeg"
    },
    {
        name:"Biba",
        oneliner:"The best and reasonable collection of clothes in town",
        specs:{
            landmark:"Vellore market"
        },
        description:"Biba Store in Vellore Market has a wide range of products and / or services to cater to the varied requirements of their customers. The staff at this establishment are courteous and prompt at providing any assistance. They readily answer any queries or questions that you may have. Pay for the product or service with ease by using any of the available modes of payment, such as Cash, Master Card, Visa Card, Debit Cards, American Express Card, Credit Card, Paytm, Card On Delivery. This establishment is functional from 10:30 - 21:30.",
        location:"https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3888.6218385123407!2d79.13596671482163!3d12.932009590881822!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3bad398ee243f767%3A0xd378be17f67a269e!2sBIBA%20Apparels!5e0!3m2!1sen!2sin!4v1599907855313!5m2!1sen!2sin",
        website:"https://www.biba.in/",
        image:"biba.jpg"
    },
    {
        name:"Fastrack",
        oneliner:"The best and reasonable collection of clothes in town",
        specs:{
            landmark:"Christian Medical College"
        },  
        description:"Fastrack Store in Vellore Ho has a wide range of products and / or services to cater to the varied requirements of their customers. The staff at this establishment are courteous and prompt at providing any assistance. They readily answer any queries or questions that you may have. Pay for the product or service with ease by using any of the available modes of payment, such as Cash, Visa Card, Debit Cards, American Express Card, Credit Card. This establishment is functional from 10:30 - 21:30.",
        location:"https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3888.303176496623!2d79.1347193148361!3d12.952441690868513!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3bad479672e7af9b%3A0x39c4c4381df01809!2sFastrack%20Store%20Katpadi!5e0!3m2!1sen!2sin!4v1599908155683!5m2!1sen!2sin",
        website:"https://www.fastrack.in/",
        image:"fastrack.jpg"
    },
    {
        name:"Louis Philippe",
        oneliner:"The best and reasonable collection of clothes in town",
        specs:{
            landmark:"Christian Medical College"
        },
        description:"Louis Philippe is an official Louis Philippe Dealer Showroom in Vellore, Tamil Nadu. If you are located near Vellore & are looking to purchase Louis Philippe Clothing in Vellore, then this Louis Philippe store in Vellore will be suitable for you.",
        location:"https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3888.9824161868214!2d79.12948391482134!3d12.908851590897072!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3bad39c351d2c953%3A0x5a1a4ec76dcc4157!2sLOUIS%20PHILIPPE%2C%20VELLORE!5e0!3m2!1sen!2sin!4v1599908443552!5m2!1sen!2sin",
        website:"https://www.louisphilippe.com/",
        image:"louisphilippe.jpg"
    },
    {
        name:"Van Heusen",
        oneliner:"The best and reasonable collection of clothes in town",
        specs:{
            landmark:"Christian Medical College"
        },
        description:"The Showroom also offers live demo of Van Heusen Clothing which enables you to get an hands on experience before actually making the purchase. All the Vellore based Dealers of Van Heusen Clothing offer wide variety of payment options like Payment by Cash, Payment by Cheque, Payment by Credit & Debit Card plus some outlets also offers EMI facility on purchase of Van Heusen products. All the information about the Retail Stores in Vellore can be viewed by clicking the listing on this page. The Van Heusen Clothing retailers may also offer other Van Heusen products other than Clothing visit the Van Heusen shop to know about new launches, for pre bookings, for buying Clothing & for enquiring about a particular item.",
        location:"https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d31109.093918520884!2d79.11687487151967!3d12.931053366469389!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3bad4796ffbc18f7%3A0x16e223e04a621e51!2sVan%20Heusen%20Innerwear%20%26%20Athleisure%20Store%20Katpadi!5e0!3m2!1sen!2sin!4v1599908757929!5m2!1sen!2sin",
        website:"https://www.vanheusenindia.com/",
        image:"vanheusen.jpg"
    },
    {
        name:"Indian Terrain",
        oneliner:"The best and reasonable collection of clothes in town",
        specs:{
            landmark:"Christian Medical College"
        },
        description:"Indian Terrain is a Vellore based company which offers unique apparels to clients like you, who value versatility, premium lifestyle, and comfort. It is an established brand which not only takes pride in providing excellent customer service but also sets a benchmark in fashion and style.",
        location:"https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d31108.53227033966!2d79.11908987152273!3d12.935557916280121!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3bad47e9d043e749%3A0x1319cf1aae09a28b!2sIndian%20Terrain!5e0!3m2!1sen!2sin!4v1599909203440!5m2!1sen!2sin",
        website:"https://www.indianterrain.com/",
        image:"indianterrain.jpeg"
    }
] %>

<div class="title">
    <h1 class="title-h1">Happiness is not in money, but in shopping.</h1>
</div>
<hr class="style-one">

<% arr.forEach(function(element){%>

<div class=" container mt-5 pt-5 ">
    <div class="row">
        <div class="col-12">
            <article class="blog-card">
                <div class="blog-card__background">
                    <div class="card__background--wrapper">
                        <div class="image-change card__background--main"
                            style="background-image: url('<%= element.image %>');width:100%;height:100%;">
                            <div class="card__background--layer"></div>
                        </div>
                    </div>
                </div>
                <div class="blog-card__head">
                    <span class="date__box">
                        <span class="date__day"></span>
                        <span class="date__month"><%= element.oneliner%></span>
                    </span>
                </div>
                <div class="blog-card__info">
                    <h5 style="text-align:center;"><%= element.name %></h5>
                    <p>
                        <a href="#" class="icon-link mr-3">NEARBY : &nbsp
                            <%= element.specs.landmark %></a>
                        <a href="#" class="icon-link"><i class="fa fa-comments-o"></i><%= element.specs.two %></a>
                    </p>
                    <p><%= element.description %></p>
                    <a href="<%=element.website %>" class="btn btn--with-icon">&nbsp &nbsp Website</a>
                    <a href="<%=element.website %>" class="btn btn--with-icon">&nbsp &nbsp Location</a>
                </div>
            </article>
        </div>
    </div>
</div>
<% }) %>

<%- include("partials/footer"); %>